<!DOCTYPE HTML>
<!--
	Multiverse by HTML5 UP
	html5up.net | @ajlkn
-->
<html>

<head>
  <title>Multiverse by HTML5 UP</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="assets/css/home_sylesheet.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->

  <link rel="stylesheet" href="assets/css/home.css" />
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->


</head>

<body>

  <!-- Header -->

  <nav class="container responsive ">

    <div class="row" id="header-navigation">
      <form class="navbar-form navbar-top flex-container" role="search">
        <div class="user-button">
          <button class="btn btn-primary dropdown-togle" type="button" data-toggle="dropdown">@{{ user.username }}</button>
        </div>
        <div class="form-group search-box-grow" style="display:inline;">
          <input type="text" class="search-box-input form-control col-8" placeholder="Search by name, location or user" id="searchbox" autofocus value="{{ searchQuery}}">
        </div>
        <button type="submit" class="btn btn-danger" onclick="event.preventDefault(); search()" >Search</button>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-togle" type="button" data-toggle="dropdown">Sort By
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Date</a>
            </li>
            <li>
              <a href="#">Location</a>
            </li>
            <li>
              <a href="#">Name</a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </nav>


  <!-- Main -->
  <div id="main">
    <article class="thumb">
      <a href="images/fulls/12.jpg" class="image">
        <img src="images/thumbs/12.jpg" alt="" /> </a>
      <h2>
        <a href="#"> [Plog Name] </a>
        <a href="#"> [Username]</a>
        <a href="#"> [Location] </a>
      </h2>
      <p> [Description] </p>
    </article>

  </div>


  <!-- Footer -->

  <div id="footer-down">
    <footer id="footer" class="">
      <div class="inner split">
        <div class="follow-us">
          <section>
            <h2>Follow us on ...</h2>
            <ul class="icons">
              <li>
                <a href="#" class="icon fa-twitter">
                  <span class="label">Twitter</span>
                </a>
              </li>
              <li>
                <a href="#" class="icon fa-facebook">
                  <span class="label">Facebook</span>
                </a>
              </li>
              <li>
                <a href="#" class="icon fa-instagram">
                  <span class="label">Instagram</span>
                </a>
              </li>
              <li>
                <a href="#" class="icon fa-github">
                  <span class="label">GitHub</span>
                </a>
              </li>
              <li>
                <a href="#" class="icon fa-dribbble">
                  <span class="label">Dribbble</span>
                </a>
              </li>
              <li>
                <a href="#" class="icon fa-linkedin">
                  <span class="label">LinkedIn</span>
                </a>
              </li>
            </ul>
          </section>
          <p class="copyright">
            &copy; All rights Reserved
            <a href="plog.today">Plog</a>.
          </p>
        </div>
      </div>

      <!-- bar used as header initially -->
      <div id="header">
        <h1>
          <a href="index.html">
            <strong>Plog</strong> on Porticode 2.0</a>
        </h1>
        <nav>

          <ul>
            <li>
              <a href="#footer" class="icon fa-info-circle">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>

  </div>


  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.poptrox.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="home.js"></script>
  <script src="assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="assets/js/home_anim.js"></script>

</body>

</html>